* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
}

nav {
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

nav .container {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}

nav .container a {
    color: black;
    text-decoration: none;
}

nav .container ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    align-items: center;
}

nav .container ul li a {
    text-decoration: none;
    color: black;
}

/* .hero {
    border: 1px solid red;
} */

.hero-wrapper {
    display: flex;
    align-items: center;
}

.hero-wrapper .hero-description h1 {
    font-size: 45px;
    padding: 25px;
}

.hero-wrapper .hero-description p {
    font-size: 20px;
    padding: 25px;
}

@media (max-width: 768px) {
    nav .container {
        flex-direction: column;
    }

    .hero-wrapper {
        flex-direction: column;
    }
}


